* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f172a;
  color: white;
}

header {
  padding: 20px 60px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

.hero {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.content h2 {
  font-size: 52px;
  margin-bottom: 20px;
}

.content p {
  font-size: 20px;
  max-width: 700px;
  margin: auto;
  margin-bottom: 30px;
  color: #cbd5e1;
}

button {
  padding: 14px 30px;
  border: none;
  border-radius: 10px;
  background: #3b82f6;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #2563eb;
}